    <span class="v1">Explore by category</span>
    <span class="v2">Find your dream job according to your skills based on the categories below</span>
      <div class="v3">
        <span class="v4"><a href="#"> See all category here →</a></span>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>

      <ul class="flex-container">
        <div class="movede"></div>
        <li class="flex-item">Category 1</li>
        <div class="moved">→</div>
        <div class="movede"></div>
        <li class="flex-item">Category 2</li>
        <div class="moved">→</div>
        <div class="movede"></div>
        <li class="flex-item">Category 3</li>
        <div class="moved">→</div>
        <div class="movede"></div>
        <li class="flex-item">Category 4</li>
        <div class="moved">→</div>
      </ul>
