<section class="register__main">
  <div class="register__first">
    <span class="register__head">Simple steps to get your job</span>
    <div>
      <a href="/register">Create your account here</a>
      <span>&#8594</span>
    </div>
  </div>
  <div class="register__second">
    <div class="register__image__main">
      <img
        src="https://cdn.pixabay.com/photo/2018/12/20/23/55/tiger-3887020_1280.jpg"
        alt="Image"
        class="main__img"
      />
    </div>

    <div class="register__flex">
      <div class="register__flexer">
        <div>
          <img
            src="https://cdn.pixabay.com/photo/2018/12/20/23/55/tiger-3887020_1280.jpg"
            alt="Img"
            class="rounder img_small"
          />
        </div>
        <span>Create your account</span>
      </div>
      <div class="register__flexer">
        <div>
          <img
            src="https://cdn.pixabay.com/photo/2018/12/20/23/55/tiger-3887020_1280.jpg"
            alt="Img"
            class="rounder img_small"
          />
        </div>
        <span>Search your dream job</span>
      </div>
      <div class="register__flexer">
        <div>
          <img
            src="https://cdn.pixabay.com/photo/2018/12/20/23/55/tiger-3887020_1280.jpg"
            alt="Img"
            class="rounder img_small"
          />
        </div>
        <span>Make a deal</span>
      </div>
    </div>

  </div>
</section>